.profile-layout {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff6482, #da8fff, #70f7ff);
    padding-left: 20px;
}

.profile-layout .profile-name {
    font-weight: 900;
    font-size: 4rem;
    color: #fff;
}

.profile-layout header {
    margin-bottom: 10%;
}

.btn.follow {
    width: 150px;
    margin-left: 20px;
}