.signin-layout {
    width: 100vw;
    height: 100vh;
    background: #fff;
    background: linear-gradient(95deg, #ff6482, #da8fff, #70f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.signin-layout::after {
    content: '';
    position: absolute;
    height: 50%;
    width: 40%;
    background: linear-gradient(120deg, #ff6482, #da8fff, #70f7ff);
    opacity: 60%;
}