@import url('https://fonts.googleapis.com/css?family=Nunito:400,900&display=swap');

/* ROOT VARIABLES */
/* linear-gradient(45deg)
/* PINK #ff6482 */
/* PURPLE #da8fff */
/* BLUE #70d7ff */
/* RED #fa3455 */


.app-layout {
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 70px;
    right: 0;
    font-family: "Nunito", "Helvetica", "Arial", sans-serif;
}

.btn-light {
    border-radius: 20px;
    min-width: 100px;
}

.song-love {
    background-image: url('https://miro.medium.com/max/2900/1*MTZW1G1mE7LSX1CnhTYeHA.png');
    background-position: left;
    background-size: 2900%;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: background-position 1s;
    transition-timing-function: steps(28);
    margin: -15px -10px -15px 5px;
}

.song-love:hover {
    background-position: right;
}